<!DOCTYPE html>
<html lang="en">

<%- include('./Parts/head.ejs') %>

    <body class="home">
        <%- include('./Parts/nav.ejs') %>


            <div>
                <h1>Welcome </h1>
            </div>

    </body>

</html>