<!DOCTYPE html>
<html lang="en">
<%- include('./Parts/head.ejs') %>


    <body>
        <%- include('./Parts/nav.ejs') %>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800'
                rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet'
                type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>


            <ul id="categories" class="clr">

                <li>

                </li>
                <li>
                    <div>
                        <img src="https://www.motocms.com/blog/wp-content/uploads/2019/11/how-to-become-a-web-developer.jpg"
                            alt="" />
                        <h1>Web Developer</h1>
                        <p>A web developer is a programmer who specializes in, or is specifically engaged in,
                            the development of World Wide Web applications using a client–server model... </p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://www.aofenggsys.com/wp-content/uploads/2020/06/app-development-banner_33099-1720.jpg"
                            alt="" />
                        <h1>App Developer</h1>
                        <p>Mobile app development is the act or process by which a mobile app is developed for mobile
                            devices,
                            such as personal digital assistants, enterprise digital assistants or mobile phones...</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://adspacegroup.com/web-uploads/2020/04/Digital-Marketing.jpeg" alt="" />
                        <h1>Digital Marketing</h1>
                        <p>Digital marketing, also called online marketing, is the promotion of brands to connect with
                            potential customers using the internet and other forms of digital communication...</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://programmerblog.net/wp-content/uploads/2021/04/career-in-designing-and-graphics.png"
                            alt="" />
                        <h1>Graphics Designing</h1>
                        <p>Graphic design is a craft where professionals create visual content to communicate
                            messages...
                        </p>
                    </div>
                </li>

            </ul>

    </body>

</html>